<!DOCTYPE html>
<html lang = es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Vinculamos al HTML al CSS-->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--Todo lo relacionado al título de la pestaña-->
    <title>Arma Sitios</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="imagenes/favicon.ico" type="image/x-icon">
    <link rel="icon" href="imagenes/favicon.ico" type="image/x-icon">
    <!--Todo lo relacionado a las fuentes a utilizar en el html.-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

</head>

<body>

<header>
    <img id="logo" src="imagenes/titulo.png" alt="Main Logo"> <!--Imagen de titulo-->
<nav>

</nav>

</header>

<main>

    

</main>


<footer>


</footer>

</body>

</html>