<!DOCTYPE html>
<html lang = es>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Vinculamos al HTML al CSS-->
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!--Todo lo relacionado al título de la pestaña-->
    <title>Spotickets.com - Buy Tickets Online</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="../imagenes/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../imagenes/favicon.ico" type="image/x-icon">
    <!--Todo lo relacionado a las fuentes a utilizar en el html.-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

</head>

<body>

<header>
    <img id="logo" src="../imagenes/titulo.png" alt="Main Logo"> <!--Imagen de titulo-->

    <nav class="links"> <!--Barra de Navegación-->
        <a href="../index.html">Inicio</a>
        <a href="acerca.html">Nosotros</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="services.html">Servicios</a>
        <a href="contacto.html">Contacto</a>     
    </nav>


</header>

<main>

        <section id="grilla"> <!--Grilla de servicios-->
            <span class="uno"><p>Organizamos la venta de Tickets personalizada para tu banda</p></span> <!--Servicio 1-->
            <span class="dos"><p>Realizamos Shows tematicos en tu provincia</p></span> <!--Servicio 2-->
            <span class="tres"><p>Montamos estudios de grabacion personalizados en tu domicilio o local</p></span> <!--Servicio 3-->
            <span class="cuatro"><p>Realizamos Servicios de transporte para ver tu banda favorita en vivo</p></span> <!--Servicio 4-->
            <span class="cinco"><p>Contrata tu show acustico a domicilio con los mejores artistas</p></span> <!--Servicio 5-->
            <span class="seis"><p>Desarrollamos apps musicales para tu compañia</p></span> <!--Servicio 6-->
            <span class="siete"><p>Te llevamos a los American Music Awards</p></span> <!--Servicio 7-->
            <span class="ocho"><p>Realizamos todos los tramites para registrar tu cancion sin que te muevas de tu casa</p></span> <!--Servicio 8-->
        </section>

</main>


<footer>
    <p>Copyright WebDesigners® 2022. - All Rights Reserved.</p>
    </footer>

</body>

</html>